.btn{
    background-color: blue;
    border-radius: 60px;
    border:0;
    color:white;
    padding: 15px 30px;
    font-weight: bold;
    margin:3em

}
.contenedor{
  background-image: url("../../assets/fondo_hero.webp") ; 
  padding-left: 100px;
  padding-right: 100px;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.contenedor-hero{    
    /*background-color:#00001a;*/
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    height: 80%;

}
.titulo{
    width: 1000px!important;
}
.contenedor h2{
    font-size: 42px;
    font-weight: normal;
    margin-top: 0px;
}
.contenedor p{
    font-size: 36px;
    font-weight: bold;

}
.contenedor-hero div{
    display: flex; 
    flex-direction: column;
}


.contenedor-texto img{

    border-radius: 20px;

}