.wallet-client {
  text-align: center;
  margin: 50px 0;
  background-color: black;
  padding: 50px;
  border-radius: 60px;
  width: 300px;
  height: 200px;
}

.App button:hover {
  background-color: gray;
  cursor: pointer;
  
}
